{% extends 'base.html.twig' %}

{% block title %}Projets - Assosquare
{% endblock %}

{% block body %}
	<div class="min-h-screen bg-[#0B0C0E] text-white">
		{% include 'components/header.html.twig' %}
		<main class="container mx-auto px-24 py-8">
			<div class="flex flex-col md:flex-row justify-between items-center mb-3">
				<h1 class="text-3xl font-bold gradient-text">Projets</h1>
				<div class="flex space-x-4 mt-4 md:mt-0">
					{% if is_granted('ROLE_ADMIN') %}
						<button class="btn btn-secondary px-4 py-2">
							<i class="fas fa-users mr-2"></i>
							Gérer les membres
						</button>
					{% endif %}
					<button class="btn btn-primary px-4 py-2" onclick="toggleModal('createProjectModal')">
						<i class="fas fa-users mr-2"></i>
						Nouveau projet
					</button>
				</div>
			</div>


			<div class="card p-6 fade-in" style="animation-delay: 0.1s">
				<div class="flex justify-between items-center mb-4">
					<h2 class="text-xl font-semibold">La liste de vos projets</h2>
				</div>

				<div class="space-y-4">
					{% for projet in projets %}
						<div class="bg-[rgba(24,24,27,0.7)] p-4 rounded-lg">
							<div class="flex justify-between items-start mb-2">
								<div>
									<a href="project/{{ projet.id }}" class="font-medium  hover:underline">{{ projet.nom }}</a>
									<p class="text-xs text-gray-400">{{ projet.dateEvent|date('Y-m-d H:i') }}</p>
								</div>
								<div class="flex space-x-2">
									<button class="text-gray-400 hover:text-white">
										<i class="fas fa-edit"></i>
									</button>
									<button class="text-gray-400 hover:text-white">
										<i class="fas fa-ellipsis-v"></i>
									</button>
								</div>
							</div>

							<div class="flex justify-between items-center">
								<span class="text-xs px-2 py-1 rounded-full bg-[rgba(133,100,250,0.2)] text-[var(--primary)]">{{ projet.theme }}</span>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</main>
	</div>

	{% include '/projects/modals/_create.html.twig' %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('dashboard.js') }}"></script>

{% endblock %}
